<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" style="background-color:rgba(11,19,32,255); height: 100px;">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="{% static 'images/beta logo.png' %}" alt="The Odin Project" style="width:100px; ">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="contact">Contact</a>
                    </li>
                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0 search_box">
                <input class="form-control mr-sm-2" placeholder="search" type="search">
            </form>
        </div>
    </nav>
    <div class="about-us-section">
        <h1 class="about-us-text">Contact Us</h1>
    </div>

    <div class="container py-5">
        <div class="row">
            <!-- Get in Touch Section -->
            <div class="col-md-6">
                <h3>Get in touch</h3>
                <div class="icon-box">
                    <div>
                        <h5>Address</h5>
                        <p>2nd Floor, Abc Building ,<br>Abc Junction,India</p>
                    </div>
                </div>
                <div class="icon-box">
                    <div>
                        <h5>Phone</h5>
                        <p>+91 6666785679</p>
                    </div>
                </div>
                <div class="icon-box">
                    <div>
                        <h5>Email</h5>
                        <p>info@Beta.in</p>
                    </div>
                </div>
            </div>

            <!-- Send Us a Message Form -->
            <div class="col-md-6">
                <h3>Send us a message</h3>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" placeholder="Your Name" required name="name">
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="email" class="form-control" placeholder="Email" required name="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" placeholder="Phone" required name="phone">
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" placeholder="Subject" required name="subject">
                        </div>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" rows="5" placeholder="Message" required name="message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid second_sec col-md-6">
        <h3>Shop Address</h3>
        <div class="container-fluid  map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d176651.9882355358!2d76.17071011655827!3d10.021219997688922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa1d626298276ff9d%3A0x9e9f622bb0d899e!2sBeta%20Technology!5e0!3m2!1sen!2sin!4v1732385322843!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        
      </div>

<!-- Footer -->
<footer class=" py-5" style="background-color:rgba(11,19,32,255); color: white;">
    <div class="container ">
        <div class="row">
  
            <div class="col-md-4 " >
                <img src="{% static 'images/beta logo.png' %}" alt="Logo" class="mb-5" style="width: 35%; height: 150px;">
                <div class="mb-5">
                    <p>High quality coding education maintained by an open source community.</p>
                </div>
            </div>
        
            <div class="col-md-2 mb-4" style="margin-top: 50px;">
                <h6 class="text-uppercase">About us</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">About</li>
                    <li><a href="#" class="text-light">Team</a></li>
                    <li><a href="#" class="text-light">Blog</a></li>
                    <li><a href="#" class="text-light">Success Stories</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-4"style="margin-top: 50px;">
                <h6 class="text-uppercase ">Support</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">FAQ</a></li>
                    <li><a href="#" class="text-light">Contribute</a></li>
                    <li><a href="#" class="text-light">Contact us</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-4"style="margin-top: 50px;">
                <h6 class="text-uppercase ">Guides</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Community guides</a></li>
                    <li><a href="#" class="text-light">Installation guides</a></li>
                </ul>
            </div>
            <div class="col-md-2 mb-4"style="margin-top: 50px;">
                <h6 class="text-uppercase ">Legal</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Terms</a></li>
                    <li><a href="#" class="text-light">Privacy</a></li>
                </ul>
            </div>
        </div>
        <div class="">
            <small class="text-light">&copy; 2024 Beta Technologies . All rights reserved.</small>
        </div>
    </div>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>